
.avatar1 {
    background-image: url(images/Avatar1.png);
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
}

.avatar2 {
    background-image: url(images/Avatar2.png);
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
}

body {
  background-color:#ffffcf;
  text-align: center;
}
.box {
	width:25%;
	height:200px;
	border:2px black solid;
	background-color: gray;
	margin:0 auto;
  display: inline-block;
}

.box-hole {
	background-color:white;
	width:90%;
	height:95%;
	margin:0 auto;
	position:relative;
	top:5px;
  }

button {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 35px 30px;
  margin: 20px 150px 150px 150px;
  color: #ccc;
  background-color: #555;
  background: -webkit-linear-gradient(#888, #111);
  background: linear-gradient(#111, #cba);
  border: 0 none;
  border-radius: 3px;
  text-shadow: 0 -1px 0 #000;
  box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
  cursor: pointer;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  float:center;
}

button:hover, button:focus
{
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}
  
@-webkit-keyframes pulsate
{
  0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
  50%  { color: #B20670; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
  100% { color: #B20670; text-shadow: 0 -1px 0 #000; }
}
  

button:active
{
  color: #fff;
  text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  -webkit-animation: none;
  animation: none;
}

#center-container {
  float:center;
  width:300px;
  height:500px;
  margin:0 auto;
  text-align:center;
};

.clear {
  clear:both;
} 

}
#game-container {
	background-color:white;
	font-family:sans-serif;
  margin:0 auto;
}

h1 {
	color:black;
  font-family:sans-serif;
	font-style: italic;
  font-weight:bold;
  font-size:30pt;
  text-align:center;
}

h1 {
  color:black;
  font-family:sans-serif;
  font-style: italic;
  font-weight:bold;
  font-size:30pt;
  text-align:center;
}

.large-avatar-left {
    width:215px;
    height:300px;
    border:1px solid black;
}

.large-avatar-right {
    width:215px;
    height:300px;
    border:1px solid black;
}

.parent-container {
  font-family:sans-serif;
  text-align:center;
}

#left-container {
  display:inline-block;
  width:300px;
  height:450px;
  margin-right:12%;
  position:relative;
  text-align:center;
  float:center;
}

#replay-container {
margin:0 auto;
}

#right-container {
  display:inline-block;
  width:300px;
  height:450px;
  margin-left:12%;
  position:relative;
  text-align:center;
  float:center;
}

#score-container {
  text-align:center;
}








