
.avatar {
    background-image: url(images/avatar1.png);
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
}

body {
	margin: 0 auto;
	text-align:center;

	}

.box {
	width:30%;
	height:200px;
	border:2px black solid;
	background-color: gray;
	margin:0 auto;
	float:left;
}

.box-hole {
	background-color:white;
	width:90%;
	height:95%;
	margin:0 auto;
	position:relative;
	top:5px;
    

}
.container {
	background-color:white;
	font-family:sans-serif;
	width:800px;
	margin: 0 auto;
}

h1 {
	color:red;
	font-style: italic;
}